.version.index /* version checker */
{
	color: #0000E2;
	background-color: #A9B3F3;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 339px;
	min-height: 426.50000000000045px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 72px 20px 71.49999999999955px 21px;
}

#u147
{
	z-index: 2;
	position: relative;
}

#pu149-4
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 25px;
}

#u149-4
{
	z-index: 3;
	width: 31px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	color: #3B5998;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u152-4
{
	z-index: 15;
	width: 30px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	color: #8134AF;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u153-4
{
	z-index: 19;
	width: 38px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	color: #005CFF;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u154-4
{
	z-index: 23;
	width: 29px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	color: #007AB9;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 135px;
}

#u155-4
{
	z-index: 27;
	width: 32px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	color: #FF5500;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u150-4
{
	z-index: 7;
	width: 31px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	color: #E52D27;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 219px;
}

#u151-4
{
	z-index: 11;
	width: 41px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	color: #08A0E9;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

